.auth-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: 50px auto;
  }
  
  input, button {
    padding: 10px;
    font-size: 1rem;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }
  
  body{
    background-color: rgb(248, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;

  }